[submodule "Kinc"]
	path = Kinc
	url = https://github.com/armory3d/Kinc
	shallow = true
[submodule "v8"]
	path = v8
	url = https://github.com/armory3d/v8_bin
	shallow = true
[submodule "hermes"]
	path = hermes
	url = https://github.com/armory3d/hermes_bin
	shallow = true
